@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radley&display=swap");
/* Variables */
:root {
  /* colors */
  --clr-gray: #383e42; /*383e42*/
  --clr-gray-opacity: rgba(56, 62, 66, 0.8);
  --clr-gray-light: #dbe2e6;
  --clr-red: #bb1e10; /*bb1e10*/
  --clr-text: #111;
  --clr-light: #f5f5f5;
  --shadow: 1px 1px 2px var(--clr-text);

  /* Fonts */
  --fontw-n: 400;
  --fontw-m: 500;
  --fontw-b: 700;

  --fonts-s: 0.9rem;
  --fonts-m: 1.2rem;
  --fonts-l: 1.5rem;
  --fonts-xl: 2rem;
  --fonts-xxl: 3rem;
  --fonts-xxxl: 4rem;

  --ff: "Radley", sans-serif;
  --ff-close: "Roboto";

  /*Spacing*/
  --spacer: 1rem;
  --ltr-spacing: 0.1rem;
}
/*reset*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  font-family: var(--ff);
}
h2 {
  color: var(--clr-red);
  text-shadow: var(--shadow);
  /* font-size: var(--fonts-xl); */
}
p {
  color: var(--clr-gray-light);

  padding: 1em 0;
}
a {
  text-decoration: none;
  color: var(--clr-gray-light);
}
a:hover,
a:focus {
  text-decoration: underline;
}

/* main selectors */
.row {
  display: flex;
}
.col {
  flex-direction: column;
}
/* header */
header {
  background-color: var(--clr-gray-opacity);
  box-shadow: var(--shadow);
  position: fixed;
  width: 100%;
}
.menu-mobile {
  list-style-type: none;
  text-align: right;
  padding-right: 0.5em;
  display: none;
  padding-bottom: 2em;
}
.menu-mobile li {
  font-size: var(--fonts-m);
  padding-top: 0.5em;
  letter-spacing: 0.1rem;
}
.header-menu {
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.header-menu h1 {
  font-weight: var(--fontw-n);
}
.menu-bars {
  font-size: var(--fonts-l);
  color: var(--clr-gray-light);
  cursor: pointer;
}
.menu-bars-close {
  display: none;
  cursor: pointer;
  font-family: var(--ff-close);
}
/* end header */
.page {
  height: 100vh;
  /* scroll-snap-align: start; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}
.scroll {
  scroll-snap-align: start;
}
.page-half {
  height: 50vh;
}
.hero {
  background-image: url("../img/univerzal_hero.webp");
  font-size: var(--fonts-l);
}
.hero h2 {
  font-size: var(--fonts-xxl);
  padding-bottom: 0.5em;
}
.about {
  background-image: url("../img/univerzal_about.webp");
}
.supply {
  background-image: url("../img/univerzal_supply.webp");
}
.contact {
  background-image: url("../img/univerzal_contact.webp");
}
.page__content {
  background-color: var(--clr-gray-opacity);
  width: 100%;
  padding: 1em 0;
}
.page__content p {
  width: 95%;
  text-align: center;
  margin: 0 auto;
  /* border: 2px solid pink; */
}
.btn {
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  background-color: var(--clr-red);
  font-size: var(--fonts-m);
  color: var(--clr-gray-light);
  cursor: pointer;
}

/* Supply */
.content__image-gallery__row__hidden,
.btn-close {
  display: none;
}
.modal {
  display: none;
}
/* .content__image-gallery__row img {
  
  width: 100%;
  
  object-fit: cover;
} */
.interijeri {
  background-image: url("../img/interijeri/interijeri28.webp");
}
.krovici {
  background-image: url("../img/krovici/krovici08.webp");
}
.nadstresnice {
  background-image: url("../img/nadstrešnice/nadstresnice30.webp");
}
.pergole {
  background-image: url("../img/pergole/pergole10.webp");
}
.sjenice {
  background-image: url("../img/sjenice/sjenice08.webp");
}
.stolovi {
  background-image: url("../img/stolovi_i_klupe/stolovi01.webp");
}

.page-half {
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--clr-gray-opacity);
}
.page__links {
  justify-content: space-between;
  width: 100%;
}
/* end Supply*/

/* gallery */

.content__image-gallery {
  display: flex;
  flex-wrap: wrap;
}
.content__image-gallery__row img {
  padding: 0.5em;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 5%; */
  background-color: var(--clr-gray-opacity);
}

.close {
  color: var(--clr-gray-light);
  font-size: var(--fonts-xxl);
  cursor: pointer;
  /* padding-left: 1rem; */
  align-self: flex-end;
}
.modal img {
  width: 100%;
}
/* end gallery */

/* Contact */
.page__form {
  padding: 0.5em;
}
.page__form label {
  font-size: var(--fonts-m);
  padding-top: 0.5em;
}
.page__form-input {
  padding: 0.75em;
  font-size: var(--fonts-m);
  font-family: var(--ff);
  resize: none;
  background-color: var(--clr-gray-light);
}
.page__location-map iframe {
  padding: 0.5rem;
}
#location {
  text-align: center;
}
.response {
  margin: 0.5em;
  padding: 0.5em;
  color: var(--clr-red);

  text-align: center;
  font-weight: var(--fontw-b);
  font-size: var(--fonts-l);
  display: none;
  text-shadow: var(--shadow);
  /* border: 3px solid var(--clr-text); */
}
/* end Contact */

/* Footer */
.footer {
  justify-content: center;
  background-color: var(--clr-gray);
}
.footer span {
  text-transform: capitalize;
}

.footer p {
  color: var(--clr-gray-light);
  text-shadow: var(--shadow);
  padding: 1em;
}
/* End Footer */
/*---media queries---*/
/* ******* */
/* Tablet  */
/* (manji) */
/* ******* */
@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .menu-bars {
    display: none;
  }
  .menu-mobile {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .page__btn {
    width: 50%;
    margin: 0 auto;
  }

  .contact__content {
    display: flex;
    align-items: center;
    background-color: var(--clr-gray);
  }
  .contact__content iframe {
    height: 250px;
  }
  .content__image-gallery__row {
    flex: 50%;
    max-width: 50%;
  }
  .modal img {
    width: 75%;
  }
}
/* ******* */
/* Tablet  */
/* (veći) */
/* ******* */
@media (min-width: 1020px) {
}
/* ******* */
/*  Laptop */
/* ******* */
@media (min-width: 1270px) {
  .contact__content iframe {
    height: 350px;
  }
  p {
    font-size: var(--fonts-m);
  }
  .content__image-gallery__row {
    flex: 25%;
    max-width: 25%;
  }
  .modal img {
    width: 50%;
  }
}
/* ******* */
/* Desktop */
/* ******* */
@media (min-width: 1600px) {
}
